services:
  postgres:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: visvire
      POSTGRES_PASSWORD: visvire123
      POSTGRES_DB: visvire_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./apps/backend
    environment:
      NODE_ENV: production
      PORT: 3000
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: visvire
      DB_PASS: visvire123
      DB_NAME: visvire_db
      DB_SSL: "false"
    depends_on:
      - postgres

  nginx:
    image: nginx:alpine
    volumes:
      - ./infra/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  postgres_data:
