version: "3.9"

services:
  postgres:
    image: postgres:18-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    # PROD: NO exponer 5432 al host
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - internal

  backend:
    build: ./apps/backend
    restart: unless-stopped
    environment:
      NODE_ENV: production
      PORT: 3000

      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: ${POSTGRES_USER}
      DB_PASS: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}
      DB_SSL: "false"

      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRES_IN: ${JWT_EXPIRES_IN}
    depends_on:
      postgres:
        condition: service_healthy
    expose:
      - "3000"  # solo accesible dentro de docker
    networks:
      - internal

  nginx:
    image: nginx:alpine
    restart: unless-stopped
    volumes:
      - ./infra/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "8080:80" # expone solo nginx al host
    depends_on:
      - backend
    networks:
      - internal

networks:
  internal:
    driver: bridge

volumes:
  postgres_data:
